# Core functionality - changes here should be rare!
/src/app.py                   @gd180
/src/backend/database.py      @gd180
/src/backend/routers/auth.py  @gd180

# The frontend will need refactored soon to be more object oriented.
/src/static/   @gd180
